---
---


@import "{{ site.theme }}";

$color-primary: #212121;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
$color-secondary: #fff;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-accent: #c6538c;
$color-accent-light: lighten($color-accent, 10%);
$color-accent-dark: darken($color-accent, 10%);

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    font-family: Quicksand !important;
}

h2 {
    font-size: 31px;
}

body {
    color: $color-primary;
    background: $color-secondary;
}

.outer {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
}

#forkme_banner {
    color: $color-secondary;
    background: url('../images/blacktocat.png') $color-accent no-repeat 95% 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
  
#header_wrap {
    background: $color-primary;
    background: -moz-linear-gradient(top, $color-primary-light, $color-primary);
    background: -webkit-linear-gradient(top, $color-primary-light, $color-primary);
    background: -ms-linear-gradient(top, $color-primary-light, $color-primary);
    background: -o-linear-gradient(top, $color-primary-light, $color-primary);
    background: linear-gradient(to top, $color-primary-light, $color-primary);
}

#project_title {
    color: $color-secondary;
}

#project_tagline {
    color: $color-secondary-light;
}

#main_content_wrap {
    background: $color-secondary;
    border-top: 1px solid $color-secondary-dark;
    border-bottom: 1px solid $color-secondary-dark;
}

#main_content h2 {
    background: none;
    border-bottom: 2px solid $color-accent;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0;
}

#main_content h2:first-of-type {
    margin-top: 0;
}

#footer_wrap {
    background: $color-primary;
}

footer p {
  color: $color-secondary;
}

a {
  text-decoration: none;
  color: $color-accent;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

footer a {
  color: $color-secondary;
  text-decoration: underline;
}

img.emoji {
    border: none;
}


a[href="https://stackoverflow.com/"] {
    color: rgb(244, 128, 36);
    white-space: nowrap;
}



.inner {
    max-width: 700px;
}

@media screen and (max-width: 992px) {
}
  
@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}