---
layout: site
---

{% assign posts = site.categories[page.slug] | default:site.tags[page.slug] | default:site.posts %}

<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    {{ content }}

    <div class="list" id="{% page.slug %}">
      {% for post in posts %}
        <div class="item {% if post.featured %}featured{% endif %}">
          <a href="{{ post.url | relative_url }}" class="{% if post.image %}has-image{% endif %}">
          </a>
          <h3>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          {% if post.description or post.tagline or post.caption %}
            <p>
              {{ post.tagline | default:post.caption | default:post.description }}
            </p>
          {% endif %}
          {% assign text = "See full post (<!--post_title-->)" %}
          <a href="{{ post.url | relative_url }}"><span>{{ text | replace:"<!--post_title-->", post.title }}</span></a>
        </div>
      {% endfor %}
    </div>
  </section>
</div>