---
layout: site
---

<div class="ContentContainer">
    <section>
        <h1>{{ page.title }}</h1>
        
        {% if page.tags.size > 0 %}
            <div class="tags">
                {% for tag in page.tags %}
                <span>{{ tag }}</span>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if page.categories.size > 1 %}
            <div class="categories">
                {% for cat in page.categories %}
                <span>{{ cat }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if page.image %}
            <figure>
                <img src="{{ page.image | relative_url }}" alt="{{ page.image_alt }}">
                <caption>{{ page.tagline | default: page.description }}</caption>
            </figure>
        {% else %}
            <p>{{ page.tagline | default: page.description }}</p>
        {% endif %}
        
        {% if page.date %}
            <div>{{ page.date | date: "%B %-d, %Y"}}</div>
        {% endif %}

        <!-- tags: testtag -->
        <!-- category: projects -->
        <!-- Tags / categories -->
        <hr />
        {{ content }}
        <!-- <hr /> -->
        <!-- Next post -->
        <!-- Related posts -->
    </section>
</div>
