<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}

    <title>{% if page.title %} {page.title} - {site.title} {% else %} {site.title} {% endif %}</title>

    <link rel="icon" type="image/png" href="/assets/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="content-bg"></div>
    <div id="content">
      <header class="ContentContainer">
        <div class="myPicture">
          <a class="crop" href="/"><img src="/assets/images/photos/face.png"></a>

          <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          <a id="project_title_tagline" href="{{ site.github.url }}">
              <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
              <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          </a>

          <!-- <div>"I'm Viveret and @ViewData["CurrentPhrase"]"</div> -->
        </div>
        <a href="/" class="Title TitleLeft"><span>v</span><span>i</span><span>v</span><span>e</span><span>r</span><span>e</span><span>t</span></a>
        <a href="/" class="Title TitleRight"><span>s</span><span>t</span><span>e</span><span>e</span><span>l</span><span>e</span></a>
        <div class="Subtitle"><a href="software.html" title="My Software Engineering Career">software engineer</a>, <a href="freelance.html" title="Tutoring, Mentoring, Consulting, and Freelancing">freelancer</a>, <a href="artist.html" title="I'm also an artist">artist</a> in <a href="https://en.wikipedia.org/wiki/Seattle" target="_blank">🍎Seattle Area🌧️</a></div>
      </header>
      <ul class="ContentContainer menu-bar">
        <li><a title="My StackOverflow Profile" href="https://stackoverflow.com/users/11765486/viveret-steele"><i class="fab fa-2x fa-stack-overflow"></i></a></li>
        <li><a title="My Resume" href="https://docs.google.com/document/d/1PCpa_Kj_jrEFVHtKvLNzDoPzaZ3z-B8t368A1BUy-7I/edit?usp=sharing"><i class="far fa-2x fa-file-alt"></i></a></li>
        <li><a title="E-Mail Me!" href="mailto:viveret.amant.official@gmail.com"><i class="far fa-2x fa-envelope"></i></a></li>
        <li><a title="My LinkedIn" href="https://www.linkedin.com/in/viveret/"><i class="fab fa-2x fa-linkedin-in"></i></a></li>
        <li><a title="My Google Play Publisher Page" href="https://play.google.com/store/apps/dev?id=5470531509913891565"><i class="fab fa-2x fa-google-play"></i></a></li>
        <li><a title="My GitHub" href="https://github.com/viveret"><i class="fab fa-2x fa-github"></i></a></li>
        <li><a title="My Instagram" href="https://www.instagram.com/viveret.amant/"><i class="fab fa-2x fa-instagram"></i></a></li>
        <li><a title="LGBTQ Lingo" href="/mogai.html" target="_blank"><i class="fas fa-2x fa-book"></i></a></li>
      </ul>

      {{ content }}

      <footer class="ContentContainer" style="display: block;">
        <p>&copy; {{ site.copyright }} &emsp; Last modified: {{ page.date | date: "%c" }} </p>
        <p class="copyright">Made by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        <p><span title="Revision {{build_revision}}">Published</span> with <a href="https://pages.github.com">GitHub Pages</a></p>

        <ul class="menu-bar">
          <li><a href="https://www.linkedin.com/in/viveret/">LinkedIn</a></li>
          <li><a href="mailto:viveret.amant.official@gmail.com">viveret.amant.official@gmail.com</a></li>
          <li><a href="credits.html">Credits</a></li>
        </ul>
      </footer>
      <div class="BottomFiller"></div>
    </div>

    {% if site.debug %}
      <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% else %}
      <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
      <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {% endif %}

    <!-- @RenderSection("Scripts", required: false) -->
</body>
</html>
